div{
   width: 1300px;
   height: 740px;
   flex-direction: column;
   background-image: url(/src/images/rapFarsi.jpg)
    
}
 body{
    display: flex;
    flex-direction: column;
    width:30vw;
    height: 100vh;
    background-color: rgb(46, 54, 54);
 }
 caption{
    background-color: rgba(150, 149, 146, 0.49);
 }
 table{ 
    width: 30vw;
    height: 40vh;
    margin-top: 100px;
    /* border-collapse: collapse; */
    margin-left: 380px;
    margin-right: 450px;
    margin-bottom: 800px;
    margin-top: 150px;
    gap: 2px;
    border-width: 5px;
    border-color: rgb(128, 136, 137);
 }

 th , td {
   padding: 20px;
   text-align: center;
   border-color: rgb(143, 130, 114);
   border-style: solid;
    /* border: 3px solid rgba(150, 149, 146, 0.49); */
 }
footer{
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
    background-color: rgba(192, 218, 179, 0.223);
    width: 100vw;
    height: 300px;
    background-color: rgba(239, 213, 204, 0.614);
    /* margin-bottom: 500px; */
    /* margin-left: 650px;
    margin-top: 410px; */
    /* flex-direction: column;
    direction: rtl; */
    /* text-align: center; */
}
